.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-active {
    backdrop-filter: blur(var(--btn-active-blur));
    -webkit-backdrop-filter: blur(var(--btn-active-blur));
}

.btn-text {
    color: var(--text-primary-color);
    background-color: transparent;
}

.btn-text:hover {
    background: var(--btn-hover-background);
    backdrop-filter: blur(var(--btn-hover-blur));
    -webkit-backdrop-filter: blur(var(--btn-hover-blur));
}

.btn-outlined {
    color: var(--text-primary-color);
    background-color: transparent;
    border: 1px solid var(--outlined-border);
}

.btn-outlined:hover,
.btn-text:hover {
    background: var(--btn-hover-background);
    backdrop-filter: blur(var(--btn-hover-blur));
    -webkit-backdrop-filter: blur(var(--btn-hover-blur));
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
}

.btn-outlined:active,
.btn-text:active {
    background: var(--btn-active-background);
    border-color: var(--btn-hover-border);
    backdrop-filter: blur(var(--btn-active-blur));
    -webkit-backdrop-filter: blur(var(--btn-active-blur));
}

.btn[disabled] {
    cursor: default;
}